name: Publish to Docker Hub

on:
  push:
    tags:
      - 'v*.*.*' # Se déclenche lors du push d'un tag (ex: v1.0.0)

jobs:
  push_to_registry:
    name: Build and Push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Build
        uses: docker/setup-buildx-action@v3l'outil Prefect à ce projet en co

      - name: Build and Push Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/module5-backend:latest, ${{ secrets.DOCKERHUB_USERNAME }}/module5-backend:${{ github.ref_name }}

      - name: Build and Push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/module5-frontend:latest, ${{ secrets.DOCKERHUB_USERNAME }}/module5-frontend:${{ github.ref_name }}